@import url(fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css);
@import url(fonts/pe-icon-7-stroke/css/helper.css);
@import url(homer.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

/*
 * Base structure
 */
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: 'Roboto', sans-serif;
}
a, .input-link, .link {
  cursor: pointer;
}
h2 {
  margin-top: 15px;
}
h2, h4 {
  color: #666;
}
.strong {
  font-weight: 700;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.mr15 {
  margin-right: 15px;
}
.mt10 {
  margin-top: 10px;
}
.mt20 {
  margin-top: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.no-right-border {
  border-right: 0;
}
.center {
  margin: auto;
  text-align: center;
}
.home-sidebar {
  width: 263px;
  .nav {
    li {
      background: #f9f9f9;
      a {
        padding: 7px 20px;
        &.heading {
          font-weight: 700;
        }
      }

    }
    // Sub navbar
    .nav {
      padding: 8px;
      li {
        padding: 2px;
      }
    }
  }
}
.product-linechart {
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}
.wrapper-slider {
  margin-top: 10px;
  height: 50px;
  width: 250px;
  margin-right: 10px;
  float: right;
  position: relative;
  z-index: 100;
  text-align: right;
  label {
    display: block;
  }
}
.minheight600 {
  min-height: 600px;
}
.maxwidth300 {
  max-width: 300px;
}
.icon-percent::before {
    content: '%';
    font-weight: bold;
    font-size: 1.35em;
}
.btn-circle {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  padding: 4px;
}
.btn.btn-percent {
  padding: 3px 9px 2px 9px;
}
.btn-retailers {
  float: right;
  margin-bottom: -1px;
  z-index: 100;
  position: relative;
  &:focus {
    outline: none;
  }
}
.btn-group.btn-retailers>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 0;
}
.btn-group.btn-retailers>.btn:last-child:not(:first-child), .btn-group.btn-retailers>.dropdown-toggle:not(:first-child) {
  border-bottom-right-radius: 0;
}
.fa-square-o {
  margin-right: 3px;
}
.btn:focus,
.btn.active:focus {
  outline: none;
}
.btn-default:hover,
.btn-default:active,
.btn-default:visited,
.btn-default:focus {
  background: #fff;
}

.table-similar {
  margin-top: -3px;
  z-index: 1000;
  position: relative;
}
.pagination {
  margin: 0;
}
.has-feedback .form-control.input-search {
  padding-left: 30px;
  min-width: 350px;
}

.wp-linechart {
  float: right;
  width: 500px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  border-top: 1px solid #e7e7e7;
  background-color: #f5f5f5;
  .text-muted {
    margin-top: 20px;
  }
}

.sidebar-left {
  margin-right: -15px;
  margin-left: 15px;
  margin-top: 30px;
  li.active {
    background: #f5f5f5;
  }
  .nav>li>a {
    text-align: right;
  }
}
.desired_price .form-control {
  width: 70px;
  margin-bottom: -10px;
}
.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
  font-style: normal;
  color: #428bca;
  &:hover {
    color: #23527c;
  }
}

.badge.badge-danger {
  background: #d9534f;
}
.subscribe {
  float: right;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
}
.main-right {
  border-left: 1px solid #ccc;
  min-height: 400px;
  padding-left: 25px;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}
.popover.bottom {
  min-width: 250px;
}
.popover-content {
  padding: 9px;
}
.alert {
  margin-bottom: 0;
}
.affix {
  position: fixed;
  top: 70px;
}
.table-mt-5 {
  z-index: 100;
  position: relative;
}
.table-striped>tbody>tr {
    border-bottom: 1px solid #ddd;
}
label,
.label {
  font-weight: 400;
}
.panel .label {
  margin-bottom: 10px;
  font-size: 1em;
}

.tag {
  float:left;
  margin:2px 0 7px 20px;
  position:relative;
  font-weight:400;
  text-decoration:none;

  color:#996633;
  text-shadow:0px 1px 0px rgba(255,255,255,.4);

  padding:0.417em 0.417em 0.417em 1.017em;

  border-top:1px solid #d99d38;
  border-right:1px solid #d99d38;
  border-bottom:1px solid #d99d38;

  -webkit-border-radius:0 0.25em 0.25em 0;
  -moz-border-radius:0 0.25em 0.25em 0;
  border-radius:0 0.25em 0.25em 0;

  background-image: -webkit-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -moz-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -o-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: -ms-linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  background-image: linear-gradient(top, rgb(254, 218, 113), rgb(254, 186, 71));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#feda71', EndColorStr='#feba47');

  -webkit-box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
  -moz-box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);
  box-shadow:
      inset 0 1px 0 #faeaba,
      0 1px 1px rgba(0,0,0,.1);

  z-index:100;

  /* Arrow */
  &:before {
    content:'';

    width:1.70em;
    height:1.70em;

    background-image: -webkit-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -moz-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -o-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: -ms-linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    background-image: linear-gradient(left top, rgb(254, 218, 113), rgb(254, 186, 71));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#feda71', EndColorStr='#feba47');

    position:absolute;
    left:-0.85em;
    top:.29em;

    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);

    border-left:1px solid #d99d38;
    border-bottom:1px solid #d99d38;

    -webkit-border-radius:0 0 0 0.25em;
    -moz-border-radius:0 0 0 0.25em;
    border-radius:0 0 0 0.25em;

    z-index:1;
  }

  /* Circle */
  &:after {
    content:'';

    width:0.5em;
    height:0.5em;

    background:#fff;

    -webkit-border-radius:4.167em;
    -moz-border-radius:4.167em;
    border-radius:4.167em;

    border:1px solid #d99d38;

    -webkit-box-shadow:0 1px 0 #faeaba;
    -moz-box-shadow:0 1px 0 #faeaba;
    box-shadow:0 1px 0 #faeaba;

    position:absolute;
    top:0.9em;
    left:-0.083em;
    z-index:9999;
  }

  &:hover {
    background-image: -webkit-linear-gradient(top, rgb(254, 225, 141), rgb(254, 200, 108));
    background-image: -moz-linear-gradient(top, rgb(254, 225, 141), rgb(254, 200, 108));
    background-image: -o-linear-gradient(top, rgb(254, 225, 141), rgb(254, 200, 108));
    background-image: -ms-linear-gradient(top, rgb(254, 225, 141), rgb(254, 200, 108));
    background-image: linear-gradient(top, rgb(254, 225, 141), rgb(254, 200, 108));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#fee18d', EndColorStr='#fec86c');

    border-color:#e1b160;
    &:before {
      background-image: -webkit-linear-gradient(left top, rgb(254, 225, 141), rgb(254, 200, 108));
      background-image: -moz-linear-gradient(left top, rgb(254, 225, 141), rgb(254, 200, 108));
      background-image: -o-linear-gradient(left top, rgb(254, 225, 141), rgb(254, 200, 108));
      background-image: -ms-linear-gradient(left top, rgb(254, 225, 141), rgb(254, 200, 108));
      background-image: linear-gradient(left top, rgb(254, 225, 141), rgb(254, 200, 108));
      filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#fee18d', EndColorStr='#fec86c');

      border-color:#e1b160;
    }
  }
}
@media (min-width: 768px) {
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0;
  }
  .navbar-right {
    margin-right: 0;
  }
}
@media (min-width: 992px) {
}
@media (max-width: 992px) {
  .mt10 {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  body > .container {
    padding-left: 0;
    padding-right: 0;
  }
  .page-wrapper {
    margin: 0 10px;
  }
  .jumbotron {
    padding: 10px;
  }
  .has-feedback .form-control.input-search {
    min-width: 0;
    width: 70%;
  }
  .navbar-form {
    padding: 0;
    border: 0;
    margin-left: 50px;
  }
  .btn-group {
    margin-bottom: 8px;
  }
  .btn-retailers {
    margin-right: 5px;
    margin-bottom: -1px;
  }
  h4 {
    font-size: 14px;
  }
  h4.mbml10 {
    margin-left: 10px;
    margin-bottom: 6px;
  }
  .list-group-item-text {
    max-width: 120px;
  }
  .form-group {
    margin-bottom: 0;
  }
  .has-feedback .form-control {
    padding-right: 0;
  }
  .nav-group {
    margin: auto;
    text-align: center;
  }
  .btn-settings {
    margin-right: 8px;
    margin-left: 8px;
  }
  .popover {
    top: -40px !important;
    &.left {
      margin-left: -2px;
      &>.arrow {
        top: 50px !important;
      }
    }
    .section-heading {
      background: #f7f7f7;
      border-bottom: 1px solid #ebebeb;
      border-top: 1px solid #ebebeb;
      padding: 8px 14px;
      margin: 10px -14px;
      font-weight: bold;
    }
    .section-footer {
      margin: 10px -15px -10px -15px;
      padding: 1px;
    }
    .btn {
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
  .wrapper-slider {
    width: 92%;
  }
  .wp-pagination.pull-right {
    float: none !important;
    margin: 10px auto 5px auto;
    text-align: center;
  }
  .wp-pagination {
    margin: -10px auto 5px auto;
  }
  .wp-search {
    margin: 0;
    padding: 0 10px;
    width: 100%;
  }
  .col-md-12, .col-md-6, .col-md-5, .col-md-7, .col-md-9 {
    padding-left: 0;
    padding-right: 0;
  }
  h2 {
    padding: 0;
    margin-top: 0;
    font-size: 18px;
  }
  .pull-left.img-full {
    float: none !important;
    margin: auto;
    text-align: center;
  }
  .tag {
    float: right;
  }
  .alert {
    margin: 0 8px 0 25px;
  }
}


/* Overwrite homer */
#logo, #menu,
.fixed-sidebar #menu {
  width: 240px;
}
#wrapper {
  margin-left: 240px;
}
.fixed-small-header .small-header {
  margin-left: 241px;
}
#side-menu li .nav-second-level li .checkbox {
  margin-left: 30px;
}
.content.list-view {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-top: 63px;
}
.navbar-form-custom .form-control {
  margin-left: 20px;
  margin-top: 2px;
}
.form-control-feedback {
  left: -10px;
  top: 8px;
}
.angucomplete-dropdown {
  min-width: 300px;
  margin-top: 1px;
  left: -16px;
}
.input-group-addon:first-child,
.input-group-btn:last-child>.btn {
  border-radius: 0;
}
.nav {
  .input-group {
    margin-top: -1px;
    margin-bottom: -2px;
  }
}
.checkbox input[type="checkbox"]:focus,
.checkbox input[type="radio"]:focus {
  outline: none;
}
.btn.btn-no-border {
  border-radius: 0;
  margin-top: -1px;
  margin-bottom: -1px;
}

a.retailer {
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}
