<div class="row">
  <div class="col-md-2 sidebar-left">
    <ul class="nav nav-sidebar">
      <li><a href="/account">Watched List</a></li>
      <li class="active"><a>Email Settings</a></li>
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
  </div>
  <div class="col-md-10 main-right">
    <h2>Email Settings <small>{{ settings.email }}</small></h2>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Newsletter / Promotional Emails</h3>
      </div>
      <div class="panel-body">
        <h4 class="subscribe" ng-click="toggleNewsletter()">
          <i ng-if="!settings.email_newsletter" class="fa fa-square-o"></i>
          <i ng-if="settings.email_newsletter" class="fa fa-check-square-o"></i>
        </h4>
        Subscribe to receive the latest annoucements regarding our features and services.
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Alert Emails</h3>
      </div>
      <div class="panel-body">
        <h4 class="subscribe" ng-click="toggleAlert()">
          <i ng-if="!settings.email_alert" class="fa fa-square-o"></i>
          <i ng-if="settings.email_alert" class="fa fa-check-square-o"></i>
        </h4>
        Enable this option will allow us to send you email once the product price you're watching drops to your set up desired price.
      </div>
    </div>

  </div>
</div>

