
<div class="row" ng-if="user.token">
  <div class="col-md-2 sidebar-left">
    <ul class="nav nav-sidebar">
      <li class="active"><a><span class="badge"></span> &nbsp; Watched List</a></li>
      <li><a href="/account/email-settings">Email Settings</a></li>
      <li><a ng-click="logout()">Logout</a></li>
    </ul>
  </div>
  <div class="col-md-10 main-right">
    <h2>Watched Products <small ng-if="products.length > 0">({{ products.length }})</small></h2>
    <div ng-if="products.length == 0" class="alert alert-warning" role="alert">
      You have no products in watched list yet!
    </div>
    <table class="table table-striped">
      <tr ng-repeat="p in products">
        <td class="visible-xs" width="8"></td>
        <td width="60">
          <img ng-show="p.image" ng-src="{{ p.image }}" class="img-rounded" width="60" />
          <img ng-show="!p.image" ng-src="/assets/img/no_image_icon.gif" class="img-rounded" width="60" />
        </td>
        <td>
          <h4 class="media-heading"><a href="/{{ p.name | slugify }}/p/{{p.product_id}}">{{ p.name }}</a></h4>
          <p class="list-group-item-text text-muted">Brand: {{ p.brand }}</p>
          <p class="list-group-item-text text-muted">Model: {{ p.model }}</p>
          <p class="list-group-item-text text-muted">Retailer: {{ p.distributor }} &nbsp; <a href="{{ p.url }}" target="_blank"><i class="fa fa-external-link"></i></a></p>
        </td>

        <td width="100" class="text-right">
          Current Price
          <h4>
            ${{ p.current_price  | number: 2}}
          </h4>
        </td>
        <td width="180" class="desired_price">
          <div ng-if="p.desired_price">
            Desired Price
            <h4 ng-mouseover="editable=true" ng-mouseleave="editable=false">
              <span ng-if="!editable">${{ p.desired_price  | number: 2}}</span>
              <a ng-if="editable" editable-text="p.desired_price" onaftersave="updateDesiredPrice($index)">update</a>
            </h4>
          </div>
          <div ng-if="!p.desired_price">&nbsp;<br />
          <h4><a editable-text="p.desired_price" onaftersave="updateDesiredPrice($index)">notify me</a></h4>
          </div>
        </td>
        <td width="50">
          <h2 class="link" tooltip="Unwatch this product" tooltip-placement="bottom"><i class="fa fa-minus-circle text-danger" ng-click="unwatch($index)"></i></h2>
        </td>
      </tr>
    </table>
  </div>
</div>

<div class="page-wrapper" ng-show="!user.token">
    <div class="jumbotron">
        <h2>Oops!</h2>
        This page is only for logged in user. <a ng-click="fbLogin()">Login now</a>
    </div>
</div>
