<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/sidebar.html'"></aside>

<!-- Main Wrapper -->
<div id="wrapper">
  <div class="small-header">
    <div class="hpanel">

      <div class="panel-body">
          <div class="pull-right">
              <!-- Items per page -->
            <div class="btn-group pull-right ml10">
              <button type="button" class="btn btn-sm btn-default">{{ params.items_per_page }}<span class="hidden-xs"> products</span></button>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="p in per_pages" class="{{ p == params.items_per_page ? 'active': '' }} "><a ng-click="changePerPage(p)">Show {{ p }} products per page</a></li>
              </ul>
            </div>

            <!-- Sort Type -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-sm btn-default">{{ getSortTypeName(params.sort_type) }}</button>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li ng-repeat="st in sort_types" class="{{ st.value == params.sort_type ? 'active': '' }} "><a ng-click="changeSortType(st.value)">{{ st.name }}</a></li>
              </ul>
            </div>
          </div>
          <h2 class="font-light m-b-xs">
              {{ page == 'home' ? 'Recent Drops' : 'Search Results' }}
          </h2>
          <small ng-show="totalItems">There are total <b>{{ totalItems }}</b> products</small>

      </div>
    </div>
  </div>

    <div class="content list-view" animate-panel effect="zoomIn">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 main">
            <!-- Table -->
            <div class="clearfix"></div>
            <div ng-if="products.length == 0" class="alert alert-warning" role="alert">
              <strong>Oops!</strong> Nothing special today
            </div>

            <div class="minheight600">
            <table class="table table-striped">
              <tr dir-paginate="p in products | itemsPerPage: itemsPerPage" total-items="totalItems" current-page="pagination.current">
                <td class="visible-xs" width="8"></td>
                <td width="60">
                  <img ng-show="p.image" ng-src="{{ p.image }}" class="img-rounded" width="60" />
                  <img ng-show="!p.image" ng-src="/assets/img/no_image_icon.gif" class="img-rounded" width="60" />
                </td>
                <td>
                  <h4 class="media-heading"><a href="/{{ p.name | slugify }}/p/{{p.id}}">{{ p.name }}</a></h4>
                  <p>Brand: {{ p.brand }} - Model: {{ p.model }}<br />
                  Retailer: <a class="retailer" href="{{ p.url }}" target="_blank">{{ p.distributor }}</a></p>
                </td>
                <td class="hidden-xs" width="120" align="right">
                  <h4 ng-if="p.absolute_diff != 0">{{ p.absolute_diff | customCurrency }}</h4>
                </td>
                <td width="120" align="right">
                  <span class="visible-xs tag pull-right">${{ p.current_price  | number: 2}}</span>
                  <div class="visible-xs clearfix"></div>

                  <h4 class="visible-xs" ng-if="p.absolute_diff != 0">{{ p.absolute_diff | customCurrency }}</h4>

                  <h4 ng-if="p.relative_diff < 0" class="text-success">{{ p.relative_diff * 100 | number: 2 }}% <i class="fa fa-arrow-circle-down"></i></h4>

                  <h4 ng-if="p.relative_diff > 0" class="text-danger">{{ p.relative_diff * 100 | number: 2 }}% <i class="fa fa-arrow-circle-up"></i></h4>

                </td>

                <td class="hidden-xs" align="right">
                    <span class="tag pull-right">${{ p.current_price  | number: 2}}</span>
                </td>
                <td width="17"></td>
              </tr>
            </table>
            </div>

            <!-- Bottom Pagination -->
            <nav class="center">
              <div class="wp-pagination mb20">
                <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
              </div>
            </nav>
          </div>


        </div>
    </div>

</div>
