<div class="modal-header">
    <h3 class="modal-title">Login</h3>
</div>
<div class="modal-body">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left"><i class="fa fa-facebook"></i> Login with Facebook</button>
    <button class="btn btn-info pull-left"><i class="fa fa-twitter"></i> Twitter</button>
    <button class="btn btn-default" ng-click="ok()">Login</button>
    <button class="btn btn-default" ng-click="cancel()">Sign Up</button>
</div>
