<!-- Header -->
<div id="header" ng-include="'views/common/header.html'"></div>

<!-- Navigation -->
<aside id="menu" ng-include="'views/common/sidebar.html'"></aside>

<div id="wrapper">
  <div class="small-header">
    <div class="hpanel">
      <div class="panel-body">
        <div class="pull-right">

          <a ng-if="!user.token" tooltip="Login to get notify of this product" tooltip-placement="bottom" class="btn btn-info btn-sm ml10" ng-click="fbLogin()"><i class="fa fa-bell-o"></i> Notify Me</a>
          <a ng-if="!user.token" tooltip="Login to watch this product" tooltip-placement="bottom" class="btn btn-info btn-sm ml10" ng-click="fbLogin()"><i class="fa fa-eye"></i> Watch</a>

          <a ng-if="user.token" ng-click="toggleAlertPrice()" popover-template="alertPopover.templateUrl" popover-title="Desired Price" popover-toggle="isOpen" popover-placement="bottom" class="btn btn-danger btn-sm ml10 {{ watch.price ? 'active' : '' }}"><i class="fa fa-bell-o"></i> {{ watch.price > 0 ? '$' + watch.price : 'Notify Me' }}</a>


          <a ng-if="user.token && !watch.watched" ng-click="watchProduct()" class="btn btn-primary btn-sm ml10"><i class="fa fa-eye"></i> Watch</a>
          <a ng-if="user.token && watch.watched" ng-click="unwatchProduct()" class="btn btn-primary btn-sm active ml10"><i class="fa fa-eye"></i> Unwatch</a>

          <button back class="btn btn-default btn-sm ml10"><i class="fa fa-chevron-left"></i> Back</button>
        </div>

        <h2 class="font-light m-b-xs">{{ product.name }}</h2>
        <small>Brand: {{ product.brand }} - Model: {{ product.model }} at <a class="retailer" href="{{ product.url }}" target="_blank">{{ distributor.name }}</a></small>
      </div>
    </div>
  </div>

  <div class="content" animate-panel effect="zoomIn">

    <!-- Price History -->
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">Price history</div>

          <div class="panel-body">
            <div class="row">
              <div class="col-md-9">
                <div google-chart chart="chartObject" class="product-linechart"></div>
              </div>
              <div class="col-md-3 text-center">
                <div>
                  <small>Current price</small>
                  <h1 class="font-extra-bold m-b-xs">{{ product.price | currency }}</h1>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <i class="fa fa-clock-o"></i> Last update: Nov 1st 2015 5:00 AM
          </div>
        </div>
      </div>
    </div>

    <!-- Similar Products -->
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">Similar Products</div>
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-similar">
                <thead>
                  <tr>
                    <th></th>
                    <th>Product</th>
                    <th>Retailer</th>
                    <th></th>
                  </tr>
                </thead>
                <tr ng-repeat="p in similarProducts">
                  <td width="50"><img ng-src="{{ p.image }}" width="40" /></td>
                  <td>
                    <a href="/{{ p.name | slugify }}/p/{{p.id}}">{{ p.name }}</a><br />
                    <b class="text-{{ p.price <= product.price ? 'success' : 'danger' }}">${{ p.price  | number: 2}}</b> - {{ p.brand }} - {{ p.model }}
                  </td>
                  <td>
                    {{ p.distributor }}
                  </td>
                  <td align="right">
                    <button ng-if="!p.isGraphed" class="btn btn-sm btn-default" ng-click="addPrices(p.id)">
                      <i class="fa fa-lg fa-square-o"></i>
                      Compare
                    </button>
                    <button ng-if="p.isGraphed" class="btn btn-sm btn-{{ getBtnClass($index) }}" ng-click="removePrices(p.id)">
                      <i class="fa fa-lg fa-check-square-o"></i>
                      Compare
                    </button>
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
