
<button back class="btn btn-default mr15 pull-right"><i class="fa fa-chevron-left"></i> Back</button>
<h2 class="ml15">{{ product.name }}</h2>

<div class="col-md-5">

  <table class="table table-striped">
    <tr>
      <td width="100">Brand</td>
      <td width="180">{{ product.brand }}</td>
    </tr>
    <tr>
      <td>Model</td>
      <td>{{ product.model }}</td>
    </tr>
    <tr>
      <td>Distributor</td>
      <td>{{ distributor.name }} &nbsp; <a href="{{ product.url }}" target="_blank"><i class="fa fa-external-link"></i></a></td>
    </tr>
    <tr>
      <td>Current Price</td>
      <td>
        <a ng-if="!user.token" tooltip="Login to get notify of this product" tooltip-placement="bottom" class="btn btn-default btn-xs pull-right ml10" ng-click="fbLogin()"><i class="fa fa-bell-o"></i> Notify Me</a>
        <a ng-if="!user.token" tooltip="Login to watch this product" tooltip-placement="bottom" class="btn btn-default btn-xs pull-right" ng-click="fbLogin()"><i class="fa fa-eye"></i> Watch</a>

        <a ng-if="user.token" ng-click="toggleAlertPrice()" popover-template="alertPopover.templateUrl" popover-title="Desired Price" popover-toggle="isOpen" popover-placement="bottom" class="btn btn-danger btn-xs pull-right ml10 {{ watch.price ? 'active' : '' }}"><i class="fa fa-bell-o"></i> {{ watch.price > 0 ? '$' + watch.price : 'Notify Me' }}</a>


        <a ng-if="user.token && !watch.watched" ng-click="watchProduct()" class="btn btn-warning btn-xs pull-right"><i class="fa fa-eye"></i> Watch</a>
        <a ng-if="user.token && watch.watched" ng-click="unwatchProduct()" class="btn btn-warning btn-xs pull-right active"><i class="fa fa-eye"></i> Unwatch</a>

        ${{ product.price | number: 2 }}
      </td>
    </tr>
  </table>
  <div class="pull-left img-full">
    <img src="{{ product.image }}" err-src="/assets/img/no_image_icon.gif" class="maxwidth300" />
  </div>
  <!-- <div class="pull-right">
    <button class="btn btn-warning"><i class="fa fa-star"></i> Watch</button>
    <button class="btn btn-info ml10"><i class="fa fa-inbox"></i> Notify me</button>
  </div> -->


</div>
<div class="col-md-7">
  <div class="wrapper-slider">
      <input type="range" ng-model="interval" min="2" max="31" step="1">
      <label>Last <span ng-bind="interval" class="ng-binding strong">7</span> days</span></label>
      <a class="btn btn-primary btn-circle" ng-click="reloadInterval()"><i class="fa fa-refresh"></i></a>
  </div>

  <div google-chart chart="chartObject" class="product-linechart"></div>

  <div class="btn-group btn-retailers pull-right" role="group">
    <button ng-repeat="d in distributors" type="button" class="btn btn-default{{ d.selected ? ' active' : '' }}" ng-click="switchRetailer($index)">{{ d.name }}</button>
  </div>

  <h4 class="mbml10">Similar Products</h4>
  <table class="table table-striped table-similar">
  <tr ng-repeat="p in similarProducts">
    <td width="50"><img ng-src="{{ p.image }}" width="40" /></td>
    <td>
      <a href="/{{ p.name | slugify }}/p/{{p.id}}">{{ p.name }}</a><br />
      <b class="text-{{ p.price <= product.price ? 'success' : 'danger' }}">${{ p.price  | number: 2}}</b> - {{ p.brand }} - {{ p.model }} / {{ p.distributor }}
    </td>
    <td align="right">
      <button ng-if="!p.isGraphed" class="btn btn-default" ng-click="addPrices(p.id)">
        <i class="fa fa-lg fa-square-o"></i>
        Compare
      </button>
      <button ng-if="p.isGraphed" class="btn btn-{{ getBtnClass($index) }}" ng-click="removePrices(p.id)">
        <i class="fa fa-lg fa-check-square-o"></i>
        Compare
      </button>
    </td>
  </tr>
  </table>
</div>

<script type="text/ng-template" id="alertPopover.html">
  <div class="alert alert-success" ng-show="watched">
    <b>Great!</b> Your desired price <b>${{ price | number: 2 }}</b> has been saved successfully!
  </div>
  <div class="form-group" ng-show="!watched">
    <div class="input-group">
      <span class="input-group-addon">$</span>
      <input type="text" class="form-control" ng-model="price">
      <span ng-click="watchProduct(price)" class="input-group-addon input-link"><i class="fa fa-arrow-right"></i></span>
    </div>
  </div>
  <small class="text-muted" ng-show="!watched">We will send you an email as soon as the price drop to your desired price</small>
</script>
