<div class="col-md-12">

  <div class="nav-group">
    <div class="btn-group pull-right ml10 mt10">
      <button type="button" class="btn btn-default">{{ getIntervalName(interval) }}</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="i in intervals" class="{{ i.value == interval ? 'active': '' }} "><a ng-click="changeInterval(i.value)">{{ i.name }}</a></li>
      </ul>
    </div>

    <div class="btn-group pull-right ml10 mt10">
      <button type="button" class="btn btn-default">{{ getSortTypeName(sort_type) }}</button>
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu">
        <li ng-repeat="st in sort_types" class="{{ st.value == sort_type ? 'active': '' }} "><a ng-click="changeSortType(st.value)">{{ st.name }}</a></li>
      </ul>
    </div>
  </div>

  <!-- Split button -->
  <!-- <div class="btn-group pull-right ml10">
    <button type="button" class="btn btn-default">Retailers</button>
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li ng-repeat="d in distributors"><a><i class="fa fa-check"></i> {{ d.name }}</a></li>
    </ul>
  </div> -->

  <nav class="mt10">
    <div class="wp-pagination pull-right">
      <dir-pagination-controls max-size="5" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
  </nav>

  <h2 class="hidden-xs">Search Results</h2>

</div>

<div class="col-md-12">
  <!-- <div class="table-responsive table-mt-5"> -->
  <table class="table table-striped">
    <tr dir-paginate="p in products | itemsPerPage: itemsPerPage" total-items="totalItems" current-page="pagination.current">
      <td width="60"><img ng-src="{{ p.image }}" class="img-rounded" width="60" /></td>
      <td>
        <h4 class="media-heading"><a href="/{{ p.name | slugify }}/p/{{p.id}}">{{ p.name }}</a></h4>
        <p class="list-group-item-text text-muted">Brand: {{ p.brand }} - {{ p.model }}</p>
        <p class="list-group-item-text text-muted">Retailer: {{ p.distributor }} &nbsp; <a href="{{ p.url }}" target="_blank"><i class="fa fa-external-link"></i></a></p>
      </td>
      <td class="hidden-xs" width="120" align="right">
        <h4 ng-if="p.absolute_diff != 0">{{ p.absolute_diff | customCurrency }}</h4>
      </td>
      <td width="120" align="right">

        <span class="visible-xs tag">${{ p.current_price  | number: 2}}</span>
        <div class="visible-xs clearfix"></div>

        <h4 class="visible-xs" ng-if="p.absolute_diff != 0">{{ p.absolute_diff | customCurrency }}</h4>

        <h4 ng-if="p.relative_diff < 0" class="text-success">{{ p.relative_diff * 100 | number: 2 }}% <i class="fa fa-arrow-circle-down"></i></h4>

        <h4 ng-if="p.relative_diff > 0" class="text-danger">{{ p.relative_diff * 100 | number: 2 }}% <i class="fa fa-arrow-circle-up"></i></h4>

      </td>


      <td class="hidden-xs" align="right">
          <span class="tag pull-right">${{ p.current_price  | number: 2}}</span>
      </td>
    </tr>
  </table>
  <!-- </div> -->


  <nav class="center">
    <div class="wp-pagination mb20">
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
  </nav>


</div>
