<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>
        <a href="/">OZ Price Tracker</a>
    </span>
</div>
<nav role="navigation">
        <minimaliza-menu></minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">HOMER APP</span>
    </div>
    <!-- <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" placeholder="Search something special" class="form-control" name="search">
        </div>
    </form> -->
    <form role="search" class="navbar-form-custom">
        <div class="form-group">
          <angucomplete-alt id="query"
                  placeholder="Product name, brand, model"
                  pause="400"
                  selected-object="selectItem"
                  remote-url="{{ api_url }}products/quicksearch/"
                  remote-url-data-field="products"
                  minlength="3"
                  match-class="angucomplete-highlight"
                  title-field="name"
                  description-field="distributor"
                  image-field="image"
                  input-class="form-control"
                  ng-keypress="search($event)"
                  input-changed="inputChanged"></angucomplete-alt>
        </div>
    </form>

    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="common.login">Login</a>
                </li>
                <li>
                    <a ui-sref="common.register">Logout</a>
                </li>
                <li>
                    <a ui-sref="app_views.profile">Profile</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li>
                <a href="">
                    <i class="pe-7s-info"></i>
                </a>
            </li>
            <li class="dropdown">
                <a href="mailto:contact@ozpricetracker.com">
                    <i class="pe-7s-mail"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>




