<div id="navigation">
    <div class="profile-picture">

        <div class="stats-label text-color">

            <div class="dropdown" dropdown >
                <a dropdown-toggle class="dropdown-toggle" href="#">
                    <span class="font-extra-bold text-muted">Last {{ params.interval }} days <b class="caret"></b></span>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li ng-class="{'active': params.interval == 2}"><a ng-click="setDateRange(2)">Last 2 days</a></li>
                    <li ng-class="{'active': params.interval == 7}"><a ng-click="setDateRange(7)">Last 7 days</a></li>
                    <!-- <li class="divider"></li> -->
                    <li ng-class="{'active': params.interval == 30}"><a ng-click="setDateRange(30)">Last 30 days</a></li>
                </ul>
            </div>

            <div class="small-chart m-t-sm">
            <div sparkline spark-data="barProfileData" spark-options="barProfileOptions"></div>
            </div>
            <div>
                <small class="text-muted">For older price data, please <a href="mailto:contact@ozpricetracker.com">contact us</a>.</small>
            </div>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a href="#">
                <span class="nav-label">Price</span>
                <span class="pull-right">{{ params.price_from | currency }} - {{ params.price_to | currency }}</span>
            </a>
            <ul class="nav nav-second-level">
                <li ui-sref-active="active">
                    <div class="input-group input-group-sm">
                      <span class="input-group-addon">Min</span>
                      <input type="number" ng-model="params.price_from" class="form-control no-right-border" >
                      <span class="input-group-addon no-right-border">Max</span>
                      <input type="number" ng-model="params.price_to" class="form-control" />
                      <span class="input-group-btn"> <button type="button" ng-click="setPriceRange()" class="btn btn-info">
                        <i class="fa fa-check"></i>
                        </button> </span>
                    </div>
                </li>
            </ul>
        </li>
        <li ng-class="{active: $state.includes('charts')}">
            <a href="#"><span class="nav-label">Retailers</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level" ng-class="{in: $state.includes('charts')}">
                <li ng-repeat="d in distributors">
                    <div class="checkbox checkbox-info">
                        <input type="checkbox" id="d{{ d.id }}" value="{{ d.id }}" ng-model="d.selected" />
                        <label for="d{{ d.id }}">
                            {{ d.name }}
                        </label>
                    </div>
                </li>
                <li><button class="btn btn-no-border btn-block btn-info" ng-click="setDistributors()"><i class="fa fa-check"></i> Update</button></li>
            </ul>
        </li>
    </ul>
</div>
